body{
    background-color: black;
    color: white;
}
.nav{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 5em;
    border: solid 0.1em black;
    border-radius: 2em;
    
}
